Config(
	path_to_bin_target:                     "/home/kzl/AFLplusplus/afl-qemu-trace",
	arguments: 				[ "/opt/kingsoft/wps-office/office6/wps", "@@"],
	path_to_input_lowerer:			Some("/usr/bin/dotnet"),
	input_lowerer_args:			[
		"/home/kzl/wps_fuzz/openxml_sdk_demo/bin/Release/net8.0/openxml_sdk_demo.dll",
		"@@INPUT@@",
		"@@OUTPUT@@",
	],

	path_to_grammar:                        "grammars/doc_ir_sdk.py",
	path_to_workdir:                        "/tmp/nautilus-openxml-workdir",

	number_of_threads:			1,
	timeout_in_millis:			1000,

	bitmap_size:				65536,
	thread_size: 				4194304,
	number_of_generate_inputs:		100,
	max_tree_size:				1000,
	number_of_deterministic_mutations:	1,
)